@font-face {
    font-family: "varna-bold";
    src: url("../fonts/Varna-Bold.otf");
}

@font-face {
    font-family: "varna-regular";
    src: url("../fonts/Varna-Regular.otf")
}

h1 {
    font-family: "varna-bold";
}

li {
    font-family: 'Lexend';
}