* {
    margin: 0;
}
/*fuentes*/

@font-face {
    font-family: "varna-bold";
    src: url("../fonts/Varna-Bold.otf");
}
@font-face {
    font-family: "varna-regular";
    src: url("../fonts/Varna-Regular.otf");
}

/*estilos visuales*/

body {
    max-width: 90%;
    margin: auto;
    background-color: rgb(26, 24, 24);
}

main {
    max-width: 80%;
    margin: auto;
}

header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 3rem 0;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.texto h2 {
    font-size: 2rem;
}

.texto p {
    width: 70%;
    text-align: justify;
    color: white;
    padding-top: 1rem;
}

.logo {
    width: 100%;
}

a {
    color: orange;
}
h1 {
    font-family: "varna-bold";
}
h2{
    color: white;
    font-family: "varna-regular";
}
p {
    font-family: 'Lexend';
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

li {
    font-family: 'Lexend';
    margin-right: 0.5rem;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

/*Grids*/
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 20% auto 15%;
    grid-template-columns: 1fr;

}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.img-grid {
    display: grid;
    grid-template-areas: 
    "mundial mundial casa casa casa"
    "cubos cubos cubos perro perro";
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 3rem 0 2rem 0;
}

.img-1 {
    grid-area: mundial;
}

.img-2 {
    grid-area: casa;
}

.img-3 {
    grid-area: cubos;
}
.img-4 {
    grid-area: perro;
}

.img-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*mobile viewport*/

@media (max-width: 480px) {
    header {
        margin: 1rem 0 1.5rem 0
    }

    h1 {
        font-size: 1.2rem;
    }

    li {
        font-size: 0.6rem;
    }

    .logo {
        max-width: 60%;
        margin-bottom: 2rem;
    }

    .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0;
    }

    .texto h2 {
        font-size: 0.6rem;
    }

    .texto p {
        font-size: 0.8rem;
        max-width: 100%;
    }

    .intro {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .img-grid {
        display: flex;
        flex-direction: column;
        margin: 1rem 0 1rem 0;
    }

    img {
        max-width: 100%;
    }

    footer {
        display: none;
    }
}

@media (max-width: 768px) {
    
    main {
        max-width: 90%;
    }

    h1 {
        font-size: 1.2rem;
    }

    ul {
        font-size: 0.8rem;
    }

    .intro {
        align-items: center;
    }

    .logo {
        width: 100%;
    }

    .texto h2 {
        font-size: 1.4rem;
    }

    .texto p {
        font-size: 0.8rem;
        width: 80%;
    }

    footer {
        margin: 1rem 0 1rem 0;
    }
}