.blogpost {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.blogpost h3 {
  font-size: 18pt;
}
.blogpost p {
  font-size: 12pt;
  text-align: justify;
}
.blogpost img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 272px;
}

.intereses {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.intereses img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 160px;
}
.intereses h3 {
  font-size: 18pt;
}
.intereses p {
  font-size: 12pt;
  text-align: justify;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "varna-bold";
  src: url("../fonts/Varna-Bold.otf");
}
@font-face {
  font-family: "varna-regular";
  src: url("../fonts/Varna-Regular.otf");
}
* {
  margin: 0;
}

body {
  background-color: #1a1818;
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}
body header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 100px;
  border-bottom: 1px solid white;
  background-image: linear-gradient(to bottom, black, rgba(255, 255, 255, 0));
}
body header h1 {
  font-size: 36pt;
  font-family: "varna-bold";
}
body header ul {
  list-style-type: none;
  display: flex;
  flex-flow: row-wrap;
  justify-content: flex-end;
}
body header ul li {
  font-family: "lexend";
  margin-left: 16px;
  font-size: 14pt;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
}
body header ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5019607843);
  padding: 0 4px;
}
body header ul .first-item {
  margin: 0;
}
body header ul .active {
  border-bottom: 1px solid white;
}
body header ul .active a {
  color: white;
  text-shadow: 0 0 1px white;
}
body main {
  padding: 24px 200px;
  color: white;
}
body main h2 {
  font-size: 32pt;
  font-family: "varna-regular";
}
body main h3 {
  font-size: 18pt;
  font-family: "lexend";
  font-weight: 600;
}
body main p {
  font-family: "lexend";
  font-weight: 300;
  font-size: 12pt;
  text-align: justify;
}
body main .index-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
body main .index-intro .texto {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body main .contacto-ficha {
  display: flex;
  gap: 54px;
  margin-top: 32px;
}
body main .contacto-ficha .cuerpo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
body footer {
  color: white;
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  padding: 16px 100px;
  background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0));
}
body footer ul {
  list-style-type: none;
  display: flex;
  flex-flow: row-wrap;
  justify-content: flex-end;
}
body footer ul li {
  font-family: "lexend";
  margin-left: 16px;
  font-size: 14pt;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
}
body footer ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5019607843);
  padding: 0 4px;
}
body footer ul .first-item {
  margin-right: 0;
}
body footer ul .active {
  border-bottom: 1px solid white;
}
body footer ul .active a {
  color: white;
  text-shadow: 0 0 1px white;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 20% auto 15%;
  grid-template-columns: 1fr;
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
}

.index--img-grid {
  display: grid;
  grid-template-areas: "mundial mundial casa casa casa" "cubos cubos cubos perro perro";
  row-gap: 16px;
  column-gap: 16px;
  margin: 16px 0 24px 0;
}
.index--img-grid img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.index--img-grid .img-1 {
  grid-area: mundial;
}
.index--img-grid .img-2 {
  grid-area: casa;
}
.index--img-grid .img-3 {
  grid-area: cubos;
}
.index--img-grid .img-4 {
  grid-area: perro;
}

.galeria--img-grid {
  display: grid;
  grid-template-areas: "dibujo pintura" "timelapse timelapse";
  row-gap: 16px;
  column-gap: 16px;
  margin: 24px 0 24px 0;
}
.galeria--img-grid .dibujo {
  grid-area: dibujo;
}
.galeria--img-grid .pintura {
  grid-area: pintura;
}
.galeria--img-grid .timelapse {
  grid-area: timelapse;
}
.galeria--img-grid .galeria-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.galeria--img-grid img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blog--img-grid {
  margin: 32px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 16px;
}

.proyectos--img-grid {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 16px;
}

@media (hover) {
  ul li:hover {
    border-bottom: none;
  }
  ul li:focus {
    border-bottom: none;
  }
  ul li a:hover {
    color: black;
    background-color: white;
  }
  ul li a:focus {
    color: black;
    background-color: white;
  }
  ul .active a:hover {
    color: black;
    background-color: white;
  }
  .index--img-grid .img-1 {
    transition: all 200ms;
  }
  .index--img-grid .img-1:hover {
    transform: scale(0.98, 0.98);
  }
  .index--img-grid .img-2 {
    transition: all 200ms;
  }
  .index--img-grid .img-2:hover {
    transform: scale(0.98, 0.98);
  }
  .index--img-grid .img-3 {
    transition: all 200ms;
  }
  .index--img-grid .img-3:hover {
    transform: scale(0.98, 0.98);
  }
  .index--img-grid .img-4 {
    transition: all 200ms;
  }
  .index--img-grid .img-4:hover {
    transform: scale(0.98, 0.98);
  }
  .galeria--img-grid img {
    transition: all 200ms;
  }
  .galeria--img-grid img:hover {
    transform: scale(0.98, 0.98);
  }
}
@media (max-width: 480px) {
  body header {
    flex-direction: column;
    padding: 24px;
    gap: 16px;
  }
  body header h1 {
    font-size: 20pt;
  }
  body header nav {
    width: 100%;
  }
  body header nav ul {
    padding: 0;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  body header nav ul li {
    font-size: 8pt;
  }
  body main {
    padding: 16px 24px;
  }
  body main .index-intro {
    gap: 16px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  body main .index-intro .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .index-intro .texto h2 {
    font-size: 16pt;
  }
  body main .index-intro .texto p {
    font-size: 8pt;
  }
  body main .index-intro .logo {
    max-width: 180px;
  }
  body main .index--img-grid {
    display: flex;
    flex-direction: column;
  }
  body main .index--img-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  body footer {
    display: none;
  }
}
@media (max-width: 810px) {
  body header {
    padding: 16px 50px;
  }
  body header h1 {
    font-size: 20pt;
  }
  body header ul li {
    font-size: 10pt;
  }
  body main {
    padding: 16px 50px;
  }
  body main .index-intro {
    align-items: center;
    gap: 16px;
  }
  body main .texto h2 {
    font-size: 28pt;
  }
  body main .texto p {
    font-size: 10pt;
    width: 100%;
  }
  body main .logo {
    max-width: 210px;
  }
  body footer ul li {
    font-size: 10pt;
  }
}

/*# sourceMappingURL=style.css.map */
