.blogpost {
    @include flex-column;
    gap: $gap-1;

    h3 {
        font-size: $item-title;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }

    p {
        font-size: $body;
        text-align: justify;
    }

    img {
        @include img-fit;
        height: 272px;
    }
}

.intereses {
    @include flex-column;
    gap: $gap-1;

    img {
        @include img-fit;
        height: 160px;
    }

    h3 {
        font-size: $item-title;

    }

    p {
        font-size: $body;
        text-align: justify;
    }
}