* {
    margin: 0;
}
body {
    background-color: $bg-color;
    animation-name: fade-in;
    animation-duration: 500ms;
    animation-timing-function: ease-in;

    header {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: $gap-2 100px;
        border-bottom: 1px solid white;
        background-image: linear-gradient(to bottom, black, #ffffff00);
        
        h1 {
            font-size: $title;
            font-family: $title-font;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row-wrap;
            justify-content: flex-end;

            li {
                font-family: $body-font;
                margin-left: $gap-2;
                font-size: $nav;
                border-bottom: 1px solid #ffffff80;
                
                a {
                    text-decoration: none;
                    color: #ffffff80;
                    padding: 0 4px;
                }
            }

            .first-item {
                margin: 0;
            }

            .active {
                border-bottom: 1px solid white;

                a {
                    color: white;
                    text-shadow: 0 0 1px white;
                }
            }
        }
    }
    
    main {
        padding: $gap-3 200px;
        color: white;

        h2 {
            font-size: $subtitle;
            font-family: $subtitle-font;
        }

        h3 {
            font-size: $item-title;
            font-family: $body-font;
            font-weight: 600;
        }
        
        p {
            font-family: $body-font;
            font-weight: 300;
            font-size: $body;
            text-align: justify;
        }

        .index-intro {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $gap-5;
            
            .texto {
                display: flex;
                flex-direction: column;
                gap: $gap-1;
            }
        }

        .contacto-ficha {
            display: flex;
            gap: 54px;
            padding: $gap-4 0;
            
            .logo {
                @include img-fit;
            }

            .cuerpo {
                @include flex-column;
                gap: $gap-4;

                .ficha {
                    @include flex-column;
                    gap: $gap-1;

                    form {
                        @include flex-column;
                        gap: $gap-1;

                        label {
                            font-family: $body-font;
                        }
                    }

                    .campo-mensaje {
                        @include flex-column;
                        gap: $gap-1;
                        textarea {
                            max-width: 100%px;
                            
                        }
                    }
                }
            }
        }

        .boton {
            font-family: $body-font;
            color: white;
            background-color: $bg-color;
            border: solid 1px white;
        }
    }

    footer {
        color: white;
        display: flex;
        justify-content: center;
        border-top: 1px solid white;
        padding: $gap-2 100px;
        background-image: linear-gradient(to top, black, #ffffff00);

        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row-wrap;
            justify-content: flex-end;

            li {
                font-family: $body-font;
                margin-left: $gap-2;
                font-size: $nav;
                border-bottom: 1px solid #ffffff80;

                a {
                    text-decoration: none;
                    color: #ffffff80;
                    padding: 0 4px;
                }
            }

            .first-item {
                margin-right: 0;
            }

            .active {
                border-bottom: 1px solid white;

                a {
                    color: white;
                    text-shadow: 0 0 1px white;
                }
            }
        }
    }
}