body {
    background-color: $bg-color;

    header {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: $gap-2 100px;
        border-bottom: 1px solid white;
        
        h1 {
            font-size: $title;
            font-family: $title-font;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row-wrap;
            justify-content: flex-end;

            li {
                font-family: $body-font;
                margin-left: $gap-2;
                font-size: 18pt;
            }

            .first-item {
                margin-right: 0;
            }
        }
    }
    
    main {
        h2 {
            font-size: $subtitle;
            color: white;
            font-family: $subtitle-font;
        }

        h3 {
            font-size: $item-title;
            font-weight: 600;
        }
        
        p {
            font-family: $body-font;
            font-weight: 300;
        }
    }

    footer {
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: $gap-3;
    }
}