//layout
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 20% auto 15%;
    grid-template-columns: 1fr;

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
}

//index-imagenes
.index--img-grid {
    display: grid;
    grid-template-areas: 
    "mundial mundial casa casa casa"
    "cubos cubos cubos perro perro";
    @include grid-gaps ($gap-2, $gap-2);
    margin: $gap-2 0 $gap-3 0;

    img {
        @include img-fit;
    }

    .img-1 {
        grid-area: mundial;
    }
    
    .img-2 {
        grid-area: casa;
    }
    
    .img-3 {
        grid-area: cubos;
    }
    .img-4 {
        grid-area: perro;
    }
}
//galeria-imagenes
.galeria--img-grid {
    display: grid;
    grid-template-areas:
    "dibujo pintura"
    "timelapse timelapse";
    @include grid-gaps ($gap-2, $gap-2);
    margin: $gap-3 0 $gap-3 0;

    .dibujo {
        grid-area: dibujo;
    }
    
    .pintura{
        grid-area: pintura;
    }
    
    .timelapse {
        grid-area: timelapse;
    }

    .galeria-item {
        display: flex;
        flex-direction: column;
        gap: $gap-1;
    }

    img {
        @include img-fit;
    
    }
}