//hover
@media (hover) {
    ul {
        
        li {
            &:hover {
                border-bottom: none;
            }
            &:focus {
                border-bottom: none;
            }
    
            a {
                &:hover {
                    @include nav-hover;
                }
                &:focus {
                    @include nav-hover;
                }
            }
        }

        .active {
            a {
                &:hover {
                    @include nav-hover;
                }   
            }
        }
    }

    .index--img-grid {
        .img-1 {
            transition: all 200ms;
            @include img-scale;
        }

        .img-2 {
            transition: all 200ms;
            @include img-scale;
        }

        .img-3 {
            transition: all 200ms;
            @include img-scale;
        }

        .img-4 {
            transition: all 200ms;
            @include img-scale;
        }
    }

    .galeria--img-grid {
        img {
            transition: all 200ms;
            @include img-scale;
        }    
    }

    .blog--img-grid {
        img {
            transition: all 200ms;
            @include img-scale;
        }

        h3 {
            &:hover {
                text-decoration: underline solid;
            }
        }
    }

    .proyectos--img-grid {
        img {
            transition: all 200ms;
            @include img-scale;
        }

        h3 {
            &:hover {
                text-decoration: underline solid;
            }
        }
    }

    .boton {
        &:hover {
            color: black;
            background-color: white;
        }
    }
}

// tablet viewport
@media (max-width: 810px) {
    body {
        height: 100vh;
        grid-template-rows: 10% auto 5%;
        grid-template-columns: 1fr;
        
        header {    
            padding: $gap-2 50px;
    
            h1 {
                font-size: $tablet-title;
            }
    
            ul {
                li {
                    font-size: $tablet-body;
                }
            }
        }
    
        main {
            padding: $gap-2 50px;
    
            .index-intro {
                align-items: center;
                gap: $gap-2;
            }
    
            h2 {
                font-size: $tablet-subtitle;
            }

            p {
                font-size: $tablet-body;
                width: 100%;
            }
    
            .logo {
                max-width: 210px;
            }

            .blog--img-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
            }

            .proyectos--img-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
            }
        }

        footer {
            ul {
                li {
                    font-size: $tablet-body;
                }
            }
        }
    }

}

// mobile viewport
@media (max-width: 480px) {
    body {
        @include flex-column;

        header {
            flex-direction: column;
            padding: $gap-2 24px;
            gap: $gap-2;
    
    
            h1 {
                font-size: $mobile-title;
            }
    
            nav {
                width: 100%;
    
                ul {
                    padding: 0;
                    margin: auto;
                    width: 80%;
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-around;
                    align-items: center;
                    gap: $gap-1;
                        
                    li {
                        font-size: 8pt;
                        margin: 0;

                        .inicio {
                            grid-area: inicio;
                        }

                        .galeria {
                            grid-area: galeria;
                        }

                        .blog {
                            grid-area: blog;
                        }

                        .contacto {
                            grid-area: contacto;
                        }

                        .proyectos {
                            grid-area: proyectos;
                        }
                    }
                }
            }
    
        }
    
        main {
            padding: $gap-2 24px;
            
            h2 {
                font-size: $mobile-subtitle;
            }

            p {
                font-size: $mobile-body;
            }

            .index-intro {
                gap: $gap-2;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                
                .texto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                }
    
                .logo {
                    max-width: 180px;
                }
            }
    
            .index--img-grid {
                @include flex-column;
                    
                img {
                    @include img-fit;
                }
            }

            .galeria--img-grid {
                @include flex-column;
            }

            .blog--img-grid {
                @include flex-column;

                img {
                    @include img-fit;
                    height: 100px;
                }
            }

            .blogpost {
                h3 {
                    font-size: $mobile-item-title;
                }
                p {
                    font-size: $mobile-body;
                }
            }

            .proyectos--img-grid {
                @include flex-column;

                img {
                    @include img-fit;
                    height: 120px;
                }
            }

            .intereses {
                h3 {
                    font-size: $mobile-item-title;
                }
                p {
                    font-size: $mobile-body;
                }
            }

            .contacto-ficha {
                @include flex-column;
                justify-content: center;
                gap: $gap-2;
                padding: $gap-1;

                .logo {
                    max-width: 180px;
                    margin: auto;
                }

                .cuerpo {
                    gap: $gap-2;
                }
            }
    
        }

        footer {
            display: none;
        }
    

    }
}
