//hover
@media (hover) {
    ul {
        
        li {
            &:hover {
                border-bottom: none;
            }
            &:focus {
                border-bottom: none;
            }
    
            a {
                &:hover {
                    @include nav-hover;
                }
                &:focus {
                    @include nav-hover;
                }
            }
        }

        .active {
            a {
                &:hover {
                    @include nav-hover;
                }   
            }
        }
    }

    .index--img-grid {
        .img-1 {
            transition: all 200ms;
            @include img-scale;
        }

        .img-2 {
            transition: all 200ms;
            @include img-scale;
        }

        .img-3 {
            transition: all 200ms;
            @include img-scale;
        }

        .img-4 {
            transition: all 200ms;
            @include img-scale;
        }
    }

    .galeria--img-grid {
        img {
            transition: all 200ms;
            @include img-scale;
        }    
    }

    .blog--img-grid {
        img {
            transition: all 200ms;
            @include img-scale;
        }

        h3 {
            &:hover {
                text-decoration: underline solid;
            }
        }
    }

    .proyectos--img-grid {
        img {
            transition: all 200ms;
            @include img-scale;
        }

        h3 {
            &:hover {
                text-decoration: underline solid;
            }
        }
    }
}
// mobile viewport
@media (max-width: 480px) {
    body {

        header {
            flex-direction: column;
            padding: 24px;
            gap: $gap-2;
    
    
            h1 {
                font-size: $mobile-title;
            }
    
            nav {
                width: 100%;
    
                ul {
                    padding: 0;
                    display: flex;
                    flex-flow: nowrap;
                    justify-content: space-between;
                    align-items: center;
    
                    li {
                        font-size: $mobile-body;
                    }
                }
            }
    
        }
    
        main {
            padding: $gap-2 24px;
            
            .index-intro {
                gap: $gap-2;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                
                .texto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    h2 {
                        font-size: $mobile-subtitle;
                    }
        
                    p {
                        font-size: $mobile-body;
                    }
                }
    
                .logo {
                    max-width: 180px;
                }
            }
    
            .index--img-grid {
                @include flex-column;
                    
                img {
                    @include img-fit;
                }
            }
    
        }

        footer {
            display: none;
        }
    

    }
}

// tablet viewport
@media (max-width: 810px) {
    body {
        header {    
            padding: $gap-2 50px;
    
            h1 {
                font-size: $tablet-title;
            }
    
            ul {
                li {
                    font-size: $tablet-body;
                }
            }
        }
    
        main {
            padding: $gap-2 50px;
    
            .index-intro {
                align-items: center;
                gap: $gap-2;
            }
    
            .texto {
                h2 {
                    font-size: $tablet-subtitle;
                }
    
                p {
                    font-size: $tablet-body;
                    width: 100%;
                }
            }
    
            .logo {
                max-width: 210px;
            }
        }

        footer {
            ul {
                li {
                    font-size: $tablet-body;
                }
            }
        }
    }

}