//gaps
$gap-1: 8px;
$gap-2: 16px;
$gap-3: 24px;
$gap-4: 32px;
$gap-5: 40px;

//colores

$bg-color: #1a1818;

//texto

$title: 40pt;
$subtitle: 36pt;
$item-title: 32pt;
$body: 20pt;
//mobile
$mobile-title: 20pt;
$mobile-subtitle: 36pt;
$mobile-item-title: 24pt;
$mobile-body: 15pt;
//tablet
$tablet-title: 30pt;
$tablet-subtitle: 36pt;
$tablet-item-title: 28pt;
$tablet-body: 17pt;
//fuentes
$title-font: "varna-bold";
$subtitle-font: "varna-regular";
$body-font: "lexend";