//gaps
$gap-1: 8px;
$gap-2: 16px;
$gap-3: 24px;
$gap-4: 32px;
$gap-5: 40px;

//colores

$bg-color: #1a1818;

//texto
$title: 36pt;
$nav: 14pt;
$subtitle: 32pt;
$item-title: 32pt;
$body: 12pt;
//mobile
$mobile-title: 20pt;
$mobile-subtitle: 26pt;
$mobile-item-title: 22pt;
$mobile-body: 8pt;
//tablet
$tablet-title: 30pt;
$tablet-subtitle: 28pt;
$tablet-item-title: 24pt;
$tablet-body: 10pt;
//fuentes
$title-font: "varna-bold";
$subtitle-font: "varna-regular";
$body-font: "lexend";